.layer>header{
    position: fixed;
    top: 0%;
    height: 1.3rem;
    line-height: 1.4rem;
    padding-top: 0.4rem;
    background-color: #009afb;
    width: 100%;
    z-index: 1;
}
.layer>header>i{
    position: absolute;
    left: 3%;
    top: 35%;
    width: 0.7rem;
    height: 0.9rem;
    background: url("../img/w_left_03.png") no-repeat center;
    -webkit-background-size: 100%;
    background-size: 100%;

}
.layer>header>h3{
    text-align: center;
    font-size: 0.4rem;
    color: #ffffff;

}
.layer>header>em{
    position: absolute;
    right: 3%;
    top: 30%;
    font-size: 0.36rem;
    color:#cccccc;
}