footer li:nth-of-type(2) i{
    background-image: url("../../img/footer/order_act.png");
}
footer li:nth-of-type(1) i{
    background-image: url("../../img/footer/sel_no.png");
}
nav{
    position: relative;
    padding-top: 2rem;
    width: 100%;
}
nav>ul{
    width: 100%;
}
nav>ul>a{
    display: block;
    width: 100%;
    text-align: center;
}
nav>ul>li>a{
    float: left;
    width: 25%;
}
nav>ul>li>a i{
    display: block;
    text-align: center;
    margin-top: 0.1rem;
}
nav li .img_box{
    display: block;
    margin-left: 0.3rem;
    height:1.2rem;
    position: relative;
}
nav li .img_box img{
    display: block;
    width: 60%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
nav li:nth-of-type(2) .img_box img{
    width: 65%;
}
nav li:last-of-type .img_box img{
    height: 84%;
}
.content>h3{
    text-align: center;
    font-size: 0.36rem;
    margin-top: 0.2rem;
}
.news_list{
    width: 100%;
    padding:0 0.46rem;
}
.list{
    background-color: #fff;
    width: 100%;
    border-radius: 5px;
    /*border: 1px solid #999;*/
    padding-top: 0.3rem;
    box-shadow: 0 0 5px #c3c3c3;
    margin-top: 0.3rem;
}
.list>.top{
    width: 100%;
    height: 2rem;
    border-bottom: 1px solid #eeeeee;
}
.list>.top>.top_right{
    width: 3.6rem;

    margin-left: 0.2rem;
}
.top_left{
    float: left;
    padding-left: 0.2rem;
}
.img_box{
    width: 2.1rem;
    height: 1.3rem;
}
.img_box>img{
    width: 90%;
    height: 100%;
    vertical-align: top;
}
.top_right>h2{
    font-size: 0.3rem;
    color:#333;
}
.top_right>h2,.top_right>p{
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    word-break: break-all;
}
.top_right>p{
    margin-top: 0.1rem;
    font-size: 0.24rem ;
}
.top_right>.price{
    font-size: 0.24rem;
    margin-top: 0.1rem;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    word-break: break-all;
}
.bottom_address{
    width: 100%;
    height: 0.8rem;
    line-height: 0.8rem;
}
.bottom_address>span{
    width: 49%;
    text-align: center;
    display: inline-block;
    color: #666666;
}
.bottom_address>.rej{
    border-left: 1px solid #eeeeee;

}
.content{
    padding-bottom: 1.2rem;
}
